@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    /* Typography */
    --font-display: "Montserrat", "sans-serif";

    /* Colors */
    --color-skyblue: #0098da;
    --color-iceblue: #c9ebfb;
    --color-oxfordblue: #05235a;
    --color-orange: #f58634;
    --color-dark: #101010;
    --color-light: #fafafa;
    --color-gray: #a1a1a1;
}

body {
    font-family: var(--font-display);
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
}

.btn-pry {
  border-radius: 5px;
  background: var(--color-skyblue);
  padding: 15px 30px;
  font-weight: 400;
  color: var(--color-light);
  /* height: 47px; */
}

.btn-pry:hover {
  background: var(--color-light);
  box-shadow: 4px 4px 4px 4px #256aff1a;
  scale: 0.95;
  transition: all 0.3s linear;
  color: var(--color-skyblue);
}

/* input field */
.input-field {
  border-radius: 40px;
  background-color: var(--color-light);
  padding: 10px 30px;
  font-weight: 400;
  height: 47px;
  border: 1.167px solid var(--color-gray-2);
  width: 100%;
  flex: 1;
  color: var(--Colors-Text-text-gray-3, #484848);
  
}

.input-field:focus-visible {
  background-color: var(--color-gray-1);
  color: var(--color-darkPurple);
  border:none;
  outline-color: var(--color-purple-mid);
}
/* input field ends */


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
  border-radius: 15px;
  background-color: #fff;
}

/* SCROLL BAR ENDS*/

